body {
    background-color: rgba(52, 73, 94, 1);
    color: #3498db;
    font-family: 'Raleway', sans-serif;
}
.title {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 5.5em;
}
.thumb {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.thumb:hover {
    border-color: #3498db;
    border: 2px dashed;
}
.loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.inception_img {
    width: 75%;
    height: auto;
    text-align: center;
    display:block;
    margin:auto;
}

a {
    color: white;
}